# Build
target/
build/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# OS/Logs
.DS_Store
*.log

# Databases
*.mv.db
*.h2.db

# Node (if you ever add a UI)
node_modules/
dist/
# Build
target/
build/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# OS/Logs
.DS_Store
*.log

# Databases
*.mv.db
*.h2.db

# Node (if you ever add a UI)
node_modules/
dist/
